<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.psu.myapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyApplication">
        <service
            android:name="com.psu.myapp.service.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.psu.myapp.ActivityImage">
            <intent-filter>
                <action android:name="ActivityImage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.psu.myapp.MainActivity">
            <intent-filter>
                <action android:name="MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.psu.myapp.ActivityAnimaction">
            <intent-filter>
                <action android:name="ActivityAnimaction" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.psu.myapp.LauncherActivyt">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.psu.myapp.ViewPageActivity">
            <intent-filter>
                <action android:name="ViewPageActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.psu.myapp.PropertyActivity">
            <intent-filter>
                <action android:name="PropertyActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>